<!-- 
- SideNav.css by Mohamed Abo El-Ghranek - https://midoghranek.github.io/sidenav
- To chnage Icons 
  * follow this link https://fortawesome.github.io/Font-Awesome/icons/
  * find ths icon code like <i class="fa fa-home"></i>
  * relace your icon in the HTML code below
- HTML code example 
<div id='snav' class='en'><ul>
  <li><a href='#'><i class="fa fa-home"></i><span>Home</span></a></li> 
</ul></div>
-->
<div id='snav' class='en'>
 
    <ul>
      
      <li>
        <a routerLink="/user">
          <i class="fa fa-home"></i>
          <span>Home</span>
        </a>
      </li>
      
       <li>
        <a routerLink="/user/addfriend">
          <i class="fa fa-user-plus"></i>
          <span>AddFriends</span>
        </a>
      </li>
   
       <li>
        <a routerLink="/user/drive">
          <i class="fa fa-th"></i>
          <span>Drive</span>
        </a>
      </li>
  
      <li>
        <a routerLink="/user/friends">
          <i class="blue ace-icon fa fa-users bigger-120"></i>
          <span>Friends</span>
        </a>
      </li> 
      <li>
        <a routerLink="/user/viewprofile">
          <i class="fa fa-eye"></i>
          <span>View Profile</span>
        </a>
      </li>
      <li>
        <a routerLink='/user/updateprofile'>
          <i class="fa fa-edit"></i>
          <span>Edit Profile</span>
        </a>
      </li>
      <li>
        <a routerLink='/user'>
          <i class="fa fa-bell"></i>
          <span>CheckNotifications</span>
        </a>
      </li>
      <li>
        <a routerLink='/user'>
          <i class="fa fa-rss"></i>
          <span>NewsFeed</span>
        </a>
      </li>
      <li>
        <a routerLink='/user'>
          <i class="fa fa-html5"></i>
          <span>HTML5</span>
        </a>
      </li>
      <li>
        <a routerLink='/user'>
          <i class="fa fa-video-camera"></i>
          <span>Videos</span>
        </a>
      </li>
  
    </ul>
    
  </div>
    