<link href="../../../assets/css/font-awesome.min.css" rel="stylesheet" />
<link
  href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext"
  rel="stylesheet"
/>
<div class="main-bg">
  <h1>Hi There!</h1>
  <!-- //title -->
  <div class="sub-main-w3">
    <div class="image-style"></div>

    <!-- vertical tabs -->
    <div class="vertical-tab">
      <div id="section1" class="section-w3ls">
        <input type="radio" name="sections" id="option1" checked />
        <label for="option1" class="icon-left-w3pvt"
          ><span class="fa fa-user-circle" aria-hidden="true"></span
          >Login</label
        >
        <article>
          <form
            [formGroup]="loginForm"
            (ngSubmit)="onSubmit()"
            action="#"
            method="post"
          >
            <h3 class="legend">Login Here</h3>
            <div class="input">
              <span class="fa fa-envelope-o" aria-hidden="true"></span>
              <input
                type="email"
                formControlName="email"
                placeholder="Email"
                name="email"
                required
              />
            </div>
            <div
              *ngIf="
                loginForm.controls['email'].errors &&
                !loginForm.controls['email'].pristine
              "
              class="error-msg"
            >
              <div [hidden]="!loginForm.controls['email'].errors.required">
                Email is required.
              </div>
              <div [hidden]="!loginForm.controls['email'].errors?.pattern">
                Email is invalid
              </div>
            </div>
            <div class="input">
              <span class="fa fa-key" aria-hidden="true"></span>
              <input
                type="password"
                formControlName="password"
                placeholder="Password"
                name="password"
                required
              />
            </div>
            <div
              *ngIf="
                loginForm.controls['password'].errors &&
                !loginForm.controls['password'].pristine
              "
              class="error-msg"
            >
              <div [hidden]="!loginForm.controls['password'].errors.required">
                Password is required.
              </div>
            </div>
            <button type="submit" [disabled]="loginForm.invalid" class="btn submit">Login</button>
            <a href="#" class="bottom-text-w3ls">Forgot Password?</a>
          </form>
        </article>
      </div>
      <div id="section2" class="section-w3ls">
        <input type="radio" name="sections" id="option2" />
        <label routerLink="/register" for="option2" class="icon-left-w3pvt"
          ><span class="fa fa-pencil-square" aria-hidden="true"></span
          >Register</label
        >
        <article></article>
      </div>
      <div id="section3" class="section-w3ls">
        <input type="radio" name="sections" id="option3" />
        <label for="option3" routerLink="/forgot" class="icon-left-w3pvt"
          ><span class="fa fa-lock" aria-hidden="true"></span>Forgot
          Password?</label
        >
        <article></article>
      </div>
    </div>
    <!-- //vertical tabs -->
    <div class="clear"></div>
  </div>
  <!-- copyright -->
  <div class="copyright"></div>
  <!-- //copyright -->
</div>
