
<div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1><strong>Dashboard</strong></h1>
          </div>
        </div>
        <div class="row">

            <div class="col-sm-4">
                <a routerLink="/admin">
              <div class="tile green">
                
                <h3 class="title">Home</h3>
                <p>Admin Dashboard</p>
              </div></a>
            </div>

         
          <div class="col-sm-4">
              <a routerLink="/admin/terms">
            <div class="tile blue">
              <h3 class="title">Manage Terms and Conditions</h3>
              <p>Manage Terms and Conditions visible to all users</p>
            </div></a>
          </div>

          <div class="col-sm-4">
              <a routerLink="/admin/monitor">
              <div class="tile orange">
              <h3 class="title">Monitor Active users</h3>
              <p>See Current Active Users on platform</p>
            </div></a>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a routerLink="/admin/analytics">
              <div class="tile purple">
                <h3 class="title">User Analytics</h3>
                <p>See User Analytics </p>
              </div></a>
            </div>
          <div class="col-sm-4">
                <a routerLink="/admin/manage-user">
            <div class="tile red">
              <h3 class="title">Restrict/Allow User Access</h3>
              <p>Restrict/Allow User Access from here</p>
            </div></a>
          </div>    
        </div>
      </div>