footer {
    background-color:#333;
    border-top: 1px solid #E7E7E7;
    text-align:center;
    padding:8px 0;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
}