
<nav class="navbar-primary">
        <a class="btn-expand-collapse"><span class="glyphicon glyphicon-menu-left"></span></a>
        <ul class="navbar-primary-menu">
          <li>
            <a ><span class="glyphicon glyphicon-list-alt"></span><span class="nav-label">Dashboard</span></a>
            <a ><span class="glyphicon glyphicon-envelope"></span><span class="nav-label">Profile</span></a>
            <a ><span class="glyphicon glyphicon-cog"></span><span class="nav-label">Settings</span></a>
            <a ><span class="glyphicon glyphicon-film"></span><span class="nav-label">Notification</span></a>
            <a ><span class="glyphicon glyphicon-calendar"></span><span class="nav-label">Monitor</span></a>
          </li>
        </ul>
      </nav>
      <div class="main-content">
      <h1> I am the main content </h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sint assumenda quae aliquid voluptatibus quia, ea, ad natus magni repellat earum, culpa iure tempore. Enim dolor eaque minima voluptas ducimus?</p>
      </div>
       