<nav class="navbar-primary">
  <a class="btn-expand-collapse"
    ><span class="glyphicon glyphicon-menu-left"></span
  ></a>
  <ul class="navbar-primary-menu">
    <li>
      <a
        ><span class="glyphicon glyphicon-list-alt"></span
        ><span class="nav-label">Dashboard</span></a
      >
      <a
        ><span class="glyphicon glyphicon-envelope"></span
        ><span class="nav-label">Users</span></a
      >
      <a
        ><span class="glyphicon glyphicon-cog"></span
        ><span class="nav-label">Settings</span></a
      >
      <a
        ><span class="glyphicon glyphicon-film"></span
        ><span class="nav-label">Notification</span></a
      >
      <a
        ><span class="glyphicon glyphicon-calendar"></span
        ><span class="nav-label">Monitor</span></a
      >
    </li>
  </ul>
</nav>
<div class="main-content">
  <h1>UserManagement</h1>
  <p>
      <app-user-management></app-user-management>
  </p>
</div>
