<nav class="navbar-primary">
    <a class="btn-expand-collapse"><span class="glyphicon glyphicon-menu-left"></span
  ></a>
    <ul class="navbar-primary-menu">
        <li>
            <a routerLink="./analytics"><span class="icon entypo-chart-line scnd-font-color"></span
        ><span class="nav-label">User Analytics</span></a
      >
      <a routerLink="./manage-user"
        ><span class="glyphicon glyphicon-user"></span
        ><span class="nav-label">Users</span></a
      >
      <a
        ><span class="glyphicon glyphicon-cog"></span
        ><span class="nav-label">Settings</span></a
      >
      <a routerLink="./terms"
        ><span class="glyphicon glyphicon-film"></span
        ><span class="nav-label">Terms&Conditions</span></a
      >
      <a routerLink="./monitor"
        ><span class="glyphicon glyphicon-calendar"></span
        ><span class="nav-label">Monitor</span></a
      >
    </li>
  </ul>
</nav>
<div class="main-content">
  <!-- <h3>UserManagement</h3> -->
  <p>
    <!-- <app-user-management></app-user-management> -->
  </p>
</div>