<app-header> </app-header>

<div class="table-responsive">
  <button class="btn btn-primary btn-block" routerLink="../">
    <span class="glyphicon glyphicon-chevron-left"></span>
    Back to dashboard
  </button>
  <table class="table">
    <ul class="list">
      <li>
        <span style="text-align: center">ID</span>
        <span style="text-align: center">Name</span>
        <span style="text-align: center">Logins</span>
        <span style="text-align: center">Role</span>
        <span style="text-align: center">Actions</span>
        <span></span>
      </li>
      <li>
        <span style="text-align: center">23</span>
        <span style="text-align: center">Harry Giles</span>
        <span style="text-align: center">4341</span>
        <!-- <span > -->
        <span style="text-align: center" class="label label-success"
          >Manager</span
        >
        <!-- </span> -->
        <span style="text-align: center">
          <div class="btn-group btn-group-xs" role="group" aria-label="...">
            <!-- <button type="button" class="btn btn-default">Edit</button>
            <button type="button" class="btn btn-default" disabled>
              Delete
            </button> -->
            <button class="btn btn-danger ">BlockAccess</button>
          </div>
        </span>
        <span></span>
      </li>
      <!-- <li>
                <span style="text-align: center">543</span>
                <span style="text-align: center">Susan Crown</span>
                <span style="text-align: center">10032</span>
                
                  <span  style="text-align: center" class="label label-default">Guest</span>
                
                <span style="text-align: center">
                    <div class="btn-group btn-group-xs" role="group" aria-label="...">
                        <button type="button" class="btn btn-default">Edit</button>
                        <button type="button" class="btn btn-default" disabled>Delete</button>
                        <button class="btn btn-danger ">BUTTON</button>
                    </div>
                </span>
                <span></span>
            </li> -->
      <!-- <li>
                <span style="text-align: center">43</span>
                <span style="text-align: center">Barry Smith</span>
                <span style="text-align: center">91</span>
                
                  <span  style="text-align: center" class="label label-primary">Engineer</span>
                
                <span style="text-align: center">
                    <div class="btn-group btn-group-xs" role="group" aria-label="...">
                        <button type="button" class="btn btn-default">Edit</button>
                        <button type="button" class="btn btn-default" disabled>Delete</button>
                        <button class="btn btn-danger ">BUTTON</button>
                    </div>
                </span>
                <span></span>
            </li> -->
      <li></li>
    </ul>
  </table>
</div>
<app-footer></app-footer>
