<div *ngIf="message"  class=content>
  <div class="wrapper-1">
    <div class="wrapper-2">
      <h1>Thank you !</h1>
      <h4>Awesome! Your registration is complete.</h4>
      <p>Your Email has been verified now,Please proceed to Login</p>
       
      <button routerLink="/" class="go-home">
      Login
      </button>
    </div>
    <div class="footer-like">
      <p>Email verification Complete
       <a routerLink="/">Login now!</a>
      </p>
    </div>
</div>
</div>
<div >
<div *ngIf="!message" class=content>
    <div class="wrapper-1">
      <div class="wrapper-2">
        <h1>OOPS !</h1>
        <h4>Your registration code has been Expired.</h4>
        <p>Please try to register again</p>
         
        <button routerLink="/" class="go-home">
        Register
        </button>
      </div>
      <div class="footer-like">
        <p>Email verification Failed
         <a routerLink="/">Go Home</a>
        </p>
      </div>
  </div>
  </div>
</div>

