

<div class="navbar navbar-fixed-top header ">
    <div class="col-md-12">
        <div class="navbar-header">
            <a class="navbar-brand">ShareApp</a>
            <button data-target="#navbar-collapse1" data-toggle="collapse" class="navbar-toggle" type="button">
        <i class="glyphicon glyphicon-search"></i>
      </button>
        </div>
        <div id="navbar-collapse1" class="collapse navbar-collapse">
                     <ul class="nav navbar-nav navbar-right">
                <li><a target="_ext">
                  <i class="glyphicon glyphicon-lock"></i> Hey! {{loggedInUser.firstname}}</a></li>
                <li>
                    <a data-toggle="dropdown" class="dropdown-toggle"><i class="glyphicon glyphicon-bell  "
              ><span class="badge">17</span></i
            ></a
          >
          <ul class="dropdown-menu">
            <li>
              <a><span class="badge pull-right">40</span>Link</a>
                </li>
                <li>
                    <a><span class="badge pull-right">2</span>Link</a>
                </li>
                <li>
                    <a><span class="badge pull-right">0</span>Link</a>
                </li>
                <li>
                    <a><span class="label label-info pull-right">1</span>Link</a>
                </li>
                <li>
                    <a><span class="badge pull-right">13</span>Link</a>
                </li>
            </ul>
            </li>

            <!-- FriendReuests -->
            <li >
                <a data-toggle="dropdown" class="dropdown-toggle" id="btnToggle">
                    <i style="color:blue" class="fa fa-user-plus bigger-120">FriendRequests</i
            ></a
          >
          <ul class="dropdown-menu">
            <div class="container myclass">
              <div class="row-md-4">
                <div  class="col-md-4">
                  <div *ngFor="let request of receivedRequests" class="well well-sm">
                    <div class="media">
                      <a class="thumbnail pull-left" href="#">
                        <img
                          class="media-object"
                          src=""
                          alt="friendrequestimage"
                        />
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">{{ request.firstname }} {{ request.lastname }}</h4>
                        <p>
                          <span class="label label-info">Pending Friend Request</span>
                          <span class="label label-warning">Count</span>
                        </p>
                        <p>
                          <!-- <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-comment"></span> Message</a> -->
                          <a (click)="acceptRequest(request._id)" class="btn btn-xs btn-default"
                            ><span class="glyphicon glyphicon-heart"></span>
                            Accept request</a
                          >
                          <a class="btn btn-xs btn-default"
                            ><span
                              class="glyphicon glyphicon-ban-circle"
                            ></span>
                            Reject</a
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ul>
          
        </li>
        <!-- FriendRequests -->
        <li>
          <a data-toggle="dropdown" class="dropdown-toggle">
            <i class="glyphicon glyphicon-user dropdown-toggle"></i
          >{{loggedInUser.lastname}}</a>
          <!-- <ul class="dropdown-menu">
            <li>
              <a><span class="badge pull-right"></span>Profile</a>
            </li>
            <li>
              <a  (click)="api.logout()" routerLink="/"><span class="badge pull-right"></span>Logout</a>
            </li>
          </ul> -->
        </li>
        <li>
          <div class="navbar-header">
            <a
              data-toggle="dropdown"
              class="navbar-btn btn btn-default btn-plus dropdown-toggle"
              style="margin-left:15px;"
              ><i style="color:#dd1111;" class="glyphicon glyphicon-home"></i> Home
                    <small><i class="glyphicon glyphicon-chevron-down"></i></small
            ></a>
            <ul class="nav dropdown-menu">
              <li>
                <a  routerLink="/user/viewprofile"><i
                    style="color:#1111dd;"
                    class="glyphicon glyphicon-user"
                  ></i>
                  Profile</a
                >
              </li>
              
              
              <li class="nav-divider"></li>
              <li>
                <a routerLink="/" (click)="api.logout()"
                  ><i
                    style="color:#dd1111;"
                    class="glyphicon glyphicon-lock"
                  ></i>
                  Logout</a
                >
              </li>
              
            </ul>

            <button
              data-target="#navbar-collapse2"
              data-toggle="collapse"
              class="navbar-toggle"
              type="button"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--- subnav -->
<div id="subnav" class="navbar navbar-default">
  <div class="col-md-12">
    <div id="navbar-collapse2" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li [routerLinkActive]="['active']"><a routerLink="/user/terms" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Terms</a></li>
        <li [routerLinkActive]="['active']"><a role="button" routerLink="/user/drive" routerLinkActive="active">Drive</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/user/about" routerLinkActive="active" role="button">About</a></li>
      </ul>
    </div>
  </div>
</div>